* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    text-align: center;
    max-height: 100vh;
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    user-select: none;
}

body.in-game {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.settings {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.title {
    font-weight: 700;
    font-size: 4.8rem;
    color: #ff006e;
    margin: 1rem auto;
    grid-row: 1 / 2;
}

.settings-select {
    grid-row: 2 / 3;
}

.setting-select {
    padding: 0.5rem;
    margin: 0.25rem;    
    font-size: 1.1rem;
    font-weight: 700;
}

#startGame {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    /* background-color: #ef233c; */
    background-color: #ff006e;
    color: whitesmoke;
    transition: transform ease-in-out 200ms;
}

#startGame:hover {
    transform: scale(1.1);
}

#selectTheme, #selectLevel {
    font-size: 1.120rem;
    border-radius: 1rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
}

.game-container {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.game-info-container {
    height: 10%;
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}

.game-info {
    color: #f27059; 
    font-size: 3.5rem;
    font-weight: 700;
}

.overlay-text {
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #ff006e;
    user-select: none;
}

#playerNameForm {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* animation: overlay-grow 500ms forwards; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #ffbe0b;
    transition: transform ease-in-out 200ms;
    font-size: 4.4rem;
}

#playerNameBtn {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    /* background-color: #ef233c; */
    background-color: #ff006e;
    color: whitesmoke;
    transition: transform ease-in-out 200ms;
}

#playerNameBtn:hover {
    transform: scale(1.1);
}

#playerNameInput {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
}

.overlay-text-md {
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: overlay-grow-md 500ms forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #ff006e;
    user-select: none;
}

#result {
    font-size: 6rem;
}

#details {
    font-size: 2.5rem;
}

.game-ended-options {
    display: flex;
    margin-top: 5rem;
    width: 50%;
    justify-content: space-between;
    color: #ff006e;
}

.overlay-text-small {
    cursor: pointer;
    color: #ffbe0b;
    transition: transform ease-in-out 200ms;
    font-size: 3rem;
}
.overlay-text-small:hover {
    transform: scale(1.1);
}

.card-container {
    display: grid;
    max-width: 75%;
    max-height: 90vh; 
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    margin: 15px auto;
    padding-bottom: 15px;
}

.card-container.easy {
    max-width: 50%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.game-info-container.easy {
    width: 50%;
}

.card-container.mid {
    max-width: 70%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.game-info-container.mid {
    width: 70%;
}

.card-container.hard {
    max-width: 60%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.game-info-container.hard {
    width: 60%;
}

.card-container.insane {
    max-width: 80%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.game-info-container.insane {
    width: 80%;
}

.card {
    display: grid;   
    border: 1px solid crimson;
}

.card-face {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-decoration {
    transform: scale(.95);  
    transition: transform 100ms ease-in-out;
}

.card-face:hover .card-decoration {
    transform: scale(1);
}

.card.matched .card-decoration {
    animation: infinite-spinning 4s linear 500ms infinite;
}

.card-front {
    background-color: #faedcd;
    transform: rotateY(180deg);
}

.card-back {
    background-color: #fefae0;
}
.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 1s linear 500ms infinite;
}

.card-front:hover .card-value {
    transform: scale(1);
}

.card-back:hover .img-back {
    transform: scale(1);
}

.img-back, .card-value {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    transform: scale(.95);
    transition: transform 100ms ease-in-out;
}

.card-decoration, .img-back, .card-value {
    max-width: 100%;
    height: auto;    
}

.top-left {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bottom-left {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.top-right {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.bottom-right {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.hidden {
    display: none;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 8em;
    }
}

@keyframes overlay-grow-md {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 6em;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 900px) {
    .card-container {
        grid-template-columns: repeat(4, auto);
    }
    
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
    .game-info {
        font-size: 1.5rem;
    }
}
  @media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, auto);
    }
    
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
    .game-info {
        font-size: 1rem;
    }
}


@media screen and (max-width: 992px) {
    /*phones and tablets*/

}


@media screen and (max-width: 767px) {
    /*phones*/

    .title {
        font-size: 3.3rem;
    }
    .card-container {
        width: 90%;
    }
    .game-info-container {
        width: 90%;
    }
    .card-container.easy {
        max-width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .card-container.mid {
        max-width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .card-container.hard {
        max-width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .card-container.insane {
        max-width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
   
}

/* @media screen and (max-width: 576px) {
    /*small phones

} */