* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html {
    font-size: 15px;
}
body {
    max-height: 100vh;
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}
body.in-game {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

/* SETTINGS-SECTION */
.settings {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.75fr;
    height: 100vh;
    margin: 0 auto;
}
.main-title {
    font-weight: 700;
    font-size: 4.8rem;
    color: #ff006e;
    margin: 1rem auto;
    grid-row: 1 / 2;
    text-align: center;
}
.settings-select {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setting-select {
    padding: 0.5rem;
    margin: 0.25rem;    
    font-size: 1.25rem;
    font-weight: 700;
}
#startGame {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #ff006e;
    color: whitesmoke;
    transition: transform ease-in-out 200ms;
}
#startGame:hover {
    transform: scale(1.1);
}
#selectTheme, #selectLevel {
    font-size: 1.15rem;
    border-radius: 1rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
    text-align: center;
}
.game-container {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* GAME CONTAINER */
.game-info-container {
    height: 10%;
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}
.game-info {
    color: #f27059; 
    font-size: 3.5rem;
    font-weight: 700;
}

/* OVERLAYS */
.overlay-text-small {
    cursor: pointer;
    color: #ffbe0b;
    transition: transform ease-in-out 200ms;
    font-size: 3rem;
    text-align: center;
}
.overlay-text-small:hover {
    transform: scale(1.1);
}

.overlay-text {
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #ff006e;
    user-select: none;
}

.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: overlay-grow-md 750ms forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #ff006e;
    user-select: none;
}

#result {
    font-size: 6rem;
    text-align: center;
}
#details {
    font-size: 2.5rem;
    text-align: center;
}

.game-ended-options {
    display: flex;
    margin-top: 5rem;
    width: 50%;
    justify-content: space-between;
    color: #ff006e;
}

.card-container {
    display: grid;
    max-width: 75%;
    max-height: 90vh; 
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    margin: 15px auto;
    padding-bottom: 15px;
}

.card-container.easy {
    max-width: 50%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.game-info-container.easy {
    width: 50%;
}

.card-container.mid {
    max-width: 50%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.game-info-container.mid {
    width: 50%;
}

.card-container.hard {
    max-width: 60%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.game-info-container.hard {
    width: 60%;
}

.card-container.insane {
    max-width: 80%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.game-info-container.insane {
    width: 80%;
}

/* CARD STYLES */
.card {
    display: grid;   
    border: 1px solid crimson;
}
.card-face {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}
.card.matched .card-decoration {
    animation: infinite-spinning 4s linear 500ms infinite;
}
.card-front {
    background-color: #faedcd;
    transform: rotateY(180deg);
}
.card-back {
    background-color: #fefae0;
}
.card.visible .card-back {
    transform: rotateY(-180deg);
}
.card.visible .card-front {
    transform: rotateY(0);
}
.card.matched .card-value {
    animation: dance 1s linear 500ms infinite;
}
.card-front:hover .card-value {
    transform: scale(1);
}
.card-back:hover .img-back {
    transform: scale(1);
}
.img-back, .card-value {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    transform: scale(.95);
    transition: transform 100ms ease-in-out;
}
.card-decoration, .img-back, .card-value {
    max-width: 100%;
    height: auto;    
}

/* CARD CORNER DECORATIONS */
.card-decoration {
    transform: scale(.95);  
    transition: transform 100ms ease-in-out;
}
.card-face:hover .card-decoration {
    transform: scale(1);
}
.top-left {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.bottom-left {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.top-right {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.bottom-right {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* HONOR BOARD */
.records-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1;
    grid-template-rows: 2fr 0.75fr repeat(5, 1fr) 1.35fr;
    width: 35%;
    color: #a75265;
    background-color: #e0ffcd;
    border-radius: 1.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.records-title {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;    
}
.main-img {
    width: 8rem;
    height: 8rem;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    
}
.medal {
    width: 3rem;
    height: 3rem;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}
.number, .time, .flips {
    line-height: 2.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
    justify-self: center;   
}
.number {
    grid-column: 1/2;
}
.name {
    grid-column: 3/4;
}
.time {
    grid-column: 4/5;
}
.flips {
    grid-column: 5;
}
.description {
    padding: 0.5rem 1rem; 
    display: grid;
    grid-template-columns: 0.8fr 1.7fr 0.75fr 0.75fr;
    grid-template-rows: 1fr;
}
.description-text {
    line-height: 2.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
    justify-self: center;
}
.cell {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1.7fr 0.75fr 0.75fr;
    grid-template-rows: 1fr;
    grid-column: span 1;
    grid-row: span 1;
    padding: 0.5rem 1rem;    
}
.img-arrow {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
    grid-row: span 1;
    align-self: center;
    justify-self: center;
}
#arrow-img {
    margin-top: 0.5rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 1rem;
    border: 0.25rem solid black;
    background-color: #fdffcd;
    
    transition: transform ease-in-out 200ms;
    cursor: pointer;
}
#arrow-img:hover {
    transform: scale(1.1);
}
.pos1 {
    border-radius: 1.5rem 1.5rem 0 0;
    -moz-border-radius: 1.5rem 1.5rem 0 0;
    -webkit-border-radius: 1.5rem 1.5rem 0 0;
}
.pos5 {
    border-radius: 0 0 1.5rem 1.5rem;
    -moz-border-radius: 0 0 1.5rem 1.5rem;
    -webkit-border-radius: 0 0 1.5rem 1.5rem;
}
.cell:nth-child(even) { 
    background-color: #fdffcd;
} 
.cell:nth-child(odd) {
    background-color: #ffebbb;
}
.name > input[type=text] {
    border: none;
    outline: none;
}
.name {
    align-self: center;
    justify-self: center;
}
.name > input[type=text] {
    line-height: 2.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    background-color: inherit;
    width: 100%;
    text-align: center;
    color: #a75265;
}

/* CREDITS SECTION */
.credits-container {
    position: fixed;
    display: flex;
    animation: overlay-grow-md 750ms forwards;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.credits-content {
    display: grid;
    grid-template-columns: 3.3fr 3fr 1fr;
    grid-template-rows: 2.2fr 2.2fr 1fr;
    width: 44%;
    max-height: 80vh;
    color: #d31b43;
    background-color: #b87abe;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.created-by {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
    justify-self: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 1rem;
}

.creator {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: start;
    justify-self: center;
    font-size: 5.3rem;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: "Luckiest Guy", cursive;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

.img-container {
    grid-row: 1/3;
    grid-column: 2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    align-self: center;
    justify-self: center;
    padding-top: 1rem;
} 

.creator-img {
    align-self: center;
    justify-self: center;
    max-width: 90%;
}

#exit-credits {
    grid-row: 3/4;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    padding: 1.25rem 2.5rem;
    border: none;
    border-radius: 1rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #ff006e;
    color: whitesmoke;
}

#exit-credits:hover {
    transform: scale(1.1);
}

.imgs-credits {
    grid-row: 3/4;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
}

.github-info {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    align-self: center;
    justify-self: center;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

.github-img {
    width: 2.5rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.p-link {
    margin-top: 0.20rem;
}

/* MUTE, CREDITS and BACK BUTTONS */
.img-button {
    cursor: pointer;
    border-radius: 50%;
    padding: 0.8rem;  
    width: 100%;
    height: 100%;
    
    transition: transform ease-in-out 200ms;
    filter: brightness(1);
    background-color: #ffbe0b; 
    border: 0.25rem solid black;
    /* margin-bottom: 0.8rem; */
}

.img-button:hover {
    filter: brightness(0.95);
}

.img-button:active {
    transform: scale(0.95);
}

/* BACK BUTTON */
#back-btn {
    position: absolute;
    left: 0;
    top: 5%;
    width: 4rem;
    height: 4rem;
    margin-left: 0.8rem;
}

/* MUTE BUTTON */
#mute-btn {
    position: absolute;
    left: 0;
    /* top: 5%; */
    top: 90%;
    width: 4rem;
    height: 4rem;
    margin-left: 0.8rem;
}

/* CREDITS BUTTON */
#credits-btn {
    position: absolute;
    right: 0;
    top: 90%;
    width: 4rem;
    height: 4rem;
    margin-right: 0.8rem;
}

/* UTILITY CLASSES */
.noselect {
    user-select: none;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Versión sin prefijo, actualmente
                                        compatible con Chrome y Opera */
}
.hidden {
    display: none;
}

/* KEYFRAMES ANIMATIONS */
@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 8em;
    }
}

@keyframes overlay-grow-md {
    from {
        background-color: rgba(0, 0, 0, 0);
        width: 120%;
        font-size: 11rem;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        font-size: 1rem;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* RESPONSIVE DESIGN MEDIA QUERIES */
@media screen and (max-width: 992px) {
    /*phones and tablets*/

}

@media screen and (max-width: 767px) {
    /*phones*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 12.5px;
    }   
    .main-title {
        font-size: 3.5rem; 
        align-self: end;
    }
    #start-game-text {
        text-align: center;
        font-size: 3.5rem; 
    }

    #startGame {
        padding: 1rem 2rem;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .card-container {
        width: 90%;
    }
    .game-info-container {
        width: 90%;
    }
    .game-info {
        font-size: 2rem;
    }
    .card-container.easy {
        max-width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .game-info-container.easy {
        width: 90%;
    }

    .card-container.mid {
        max-width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .game-info-container.mid {
        width: 90%;
    }

    .card-container.hard {
        max-width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .game-info-container.hard {
        width: 90%;
    }

    .card-container.insane {
        max-width: 75%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .game-info-container.insane {
        width: 80%;
    }

    .game-ended-options {
        width: 90%;
        font-size: 3.5rem;
    }

    #result {
        font-size: 3.8rem;
        margin-bottom: 1rem;
    }

    #details {
        width: 90%;
        font-size: 2.3rem;
    }

    .overlay-text-small {
        font-size: 2.9rem;
    }

    @keyframes overlay-grow {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .8);
            font-size: 5rem;
        }
    }

    @keyframes overlay-grow-md {
        from {
            background-color: rgba(0, 0, 0, 0);
            font-size: 0;
        }
        to {
            background-color: rgba(0, 0, 0, .8);
            font-size: 1rem;
        }
    }

    .setting-select {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin: 0.25rem;    
        font-size: 1.55rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #selectTheme, #selectLevel {
        font-size: 1.7rem;
        border-radius: 1rem;
        padding: 0.35rem;
        margin-left: 0.75rem;
        
    }
    .settings {
        grid-template-rows: 1fr 1.5fr 1fr;
    }
    
    #credits-btn {
        position: absolute;

        width: 3.5rem;
        height: 3.5rem;
        margin-right: 0.5rem;
    }

    #mute-btn {
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 0.5rem;
    }

    body.in-game #mute-btn {
        position: absolute;
        right: 1px; 
        left: auto;
        top: 90%;
        margin-right: 0.1rem;
    }

    .img-button {
        padding: 0.6rem;
    }

    body.in-game #back-btn {
        position: absolute;
        left: 1px; 
        top: 90%;
        margin-left: 0.1rem;
    }

    body.in-game #credits-btn {
        display: none;
    }

    .credits-container {
        position: fixed;
        display: flex;
        animation: overlay-grow-md 750ms forwards;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
    .credits-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 2fr 2.5fr 0.75fr 1.5fr;
        width: 92%;
        max-height: 92vh;
        color: #d31b43;
        background-color: #b87abe;
        border-radius: 1.5rem;
        padding: 0.8rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    
    .created-by {
        grid-row: 2/3;
        grid-column: 1/3;
        align-self: end;
        justify-self: center;
        font-size: 3.5rem;
        font-weight: 700;
        margin: 1rem;
    }
    
    .creator {
        grid-row: 3/4;
        grid-column: 1/3;
        align-self: center;
        justify-self: center;
        font-size: 6.2rem;
        letter-spacing: 5px;
        font-weight: 700;
        font-family: "Luckiest Guy", cursive;
        text-shadow:
        0 1px #808d93,
        -1px 0 #cdd2d5,
        -1px 2px #808d93,
        -2px 1px #cdd2d5,
        -2px 3px #808d93,
        -3px 2px #cdd2d5,
        -3px 4px #808d93,
        -4px 3px #cdd2d5,
        -4px 5px #808d93,
        -5px 4px #cdd2d5,
        -5px 6px #808d93,
        -6px 5px #cdd2d5,
        -6px 7px #808d93,
        -7px 6px #cdd2d5,
        -7px 8px #808d93,
        -8px 7px #cdd2d5;
    }
    
    .img-container {
        grid-row: 4/5;
        grid-column: 1/3;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        align-self: center;
        justify-self: center;
        padding-top: 1rem;
    } 
    
    .creator-img {
        align-self: center;
        justify-self: center;
        max-width: 90%;
    }
    
    #exit-credits {
        grid-row: 5/6;
        grid-column: 1/3;
        align-self: center;
        justify-self: center;
        padding: 1.25rem 2.5rem;
        border: none;
        border-radius: 1rem;
        margin-top: 0.8rem;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        background-color: #ff006e;
        color: whitesmoke;
    }
    
    #exit-credits:hover {
        transform: scale(1.1);
    }
    
    .imgs-credits {
        grid-row: 6/7;
        grid-column: 2/3;
        align-self: center;
        justify-self: end;
        font-size: 1rem;
    }
    
    .github-info {
        grid-row: 6/7;
        grid-column: 1/2;
        width: 100%;
        align-self: center;
        justify-self: center;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    .github-img {
        width: 2.5rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
    }
    
    .p-link {
        margin-top: 0.20rem;
    }
    .records-container {
        width: 95%;
    }
    

    .hidden {
        display: none;
    }
}

/* @media screen and (max-width: 576px) {
    /*small phones

} */