* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    text-align: center;
    max-height: 100vh;
}

.overlay-text {
    position: fixed;
    display: none; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #FF6D00;
    /* font-family: Creepy, serif; */
    user-select: none;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;

}
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    /* max-height: 50vh; */
    width: 50%;
    margin: 20px auto;
}

.card {
    display: grid;
    background-color: beige;
    border: 1px solid crimson;
}

.card-face {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-decoration {
    transform: scale(.95);  
    transition: transform 100ms ease-in-out;
}

.card-face:hover .card-decoration {
    transform: scale(1);
}

.card.matched .card-decoration {
    animation: infinite-spinning 4s linear 500ms infinite;
}

.card-front {
    transform: rotateY(180deg);
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-value {
    animation: dance 1s linear 500ms infinite;
}

.card-front:hover .card-value {
    transform: scale(1);
}

.card-back:hover .img-back {
    transform: scale(1);
}

.img-back, .card-value {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    transform: scale(.95);
    transition: transform 100ms ease-in-out;
}

.card-decoration, .img-back, .card-value {
    max-width: 100%;
    height: auto;    
}

.top-left {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bottom-left {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.top-right {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.bottom-right {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }